
<div class="create-forum-form">
  <div class="form-section">
    <div class="flex xl:flex-row flex-col items-center page-title text-gray-900 dark:text-white pb-2 mb-2 w-full">
      Create New Post
    </div>
    <div class="form-field">
      <label for="forum-name">Post Title:</label>
      <input type="text" id="forum-name" placeholder="Enter Forum Name" (keyup)="getTitle($event)">
    </div>
    <div class="form-field">
      <label for="forum-description">Post Content:</label>
      <textarea id="forum-description" placeholder="Enter Forum Description" (keyup)="getContent($event)"></textarea>
    </div>
    <button id="submit-forum-btn" (click)="createForum()">Submit</button>
  </div>
</div>
